@import "bootstrap/bootstrap";

@import "partials/variables";
@import "partials/buttons";
@import "partials/typography";
@import "partials/lists";
@import "partials/images";

.section {
    .image-container {
        max-width: 100%;
        .img-fluid {
            max-width: 170px;
            height: auto;
        }
    }
}

.border-grey {
    border-color: $grey;
}





@media (min-width: 576px) { @import "breakpoints/sm-mobile"; }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { @import "breakpoints/md-tablet"; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { @import "breakpoints/lg-desktop"; }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { @import "breakpoints/xl-desktop"; }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { @import "breakpoints/xxl-desktop"; }