.btn-holder {
    text-align: center;
}

.btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    padding: 0.375rem 2rem;

    &:hover {
        color: $white;
        background-color: $secondary;
        border-color: $secondary;
    }
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: $white;
    background-color: $primary;
    border-color: $primary;
}