.text-primary {
    color: $primary;
}
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-pink {
    background-color: $pink;
}
.bg-black {
    background-color: $black;
}
.bg-grey {
    background-color: $grey;
}