$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6600cc;
$pink:    #cc66ff;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$aqua:    #66ffff;
$grey:    #cccccc;

$primary: $purple !important;
$secondary: $aqua !important;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "pink": $pink,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



